
#cards-container{
    margin-top: 10vh;
    display: flex;
    flex-direction: column-reverse;
}

.card{
    aspect-ratio: 5/1;
    border-radius: 7vw;
    width: 70vw;
    margin:auto;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
/*
#list-item_creator{
    background-color: rgba(255, 0, 0, 0.2);
    border: 5px solid red !important;
    position: relative;
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
}
*/
#item-creator-card{
    display: flex;
}

#product-name{
    aspect-ratio: 1/0.2;
    width: 40%;
    border: 1px solid grey;
    border-radius: 5vw;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 3vw;
}
#product-name[type="text"]{
    padding-left: 5%;
    padding-right: 5%;
}
.product-counter{
    display: flex;
    align-items: center;
    width: 40%;
    font-size: 7vw;
    margin-left: 2.5%;
    margin-right: 5%;
    user-select: none;
}

#plus-sign{
    text-align: center;
    margin: 1.5%;
    width: 400%;
    height: 50%;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#minus-sign{
    text-align: center;
    margin: 1.5%;
    width: 400%;
    height: 50%;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#product-number{
    text-align: center;
    width: 550%;
    margin: 1.5%;
}

#enterbtn{
    user-select: none;
    font-size: 10vw;
    font-weight: bold;
}
